asgiref==3.11.1
Django==6.0.3
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.5.1
pyotp==2.9.0
qrcode==8.2
pillow==12.2.0
sqlparse==0.5.5
tzdata==2025.3
gunicorn==21.2.0
whitenoise==6.6.0
python-decouple==3.8
python-dotenv==1.0.0
